/* -----------------------------------------
   Mixins
----------------------------------------- */
/* -----------------------------------------
	General styles
----------------------------------------- */
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0.5em;
}
.breadcrumb > li + li:before {
  content: "→";
}
/* -----------------------------------------
	MAIN STYLES
----------------------------------------- */
html {
  background-color: #3d3d39;
}
body {
  color: #5f4b4c;
  background-color: #eeeee8;
}
img {
  max-width: 100%;
}
a {
  color: #b33529;
}
h1 {
  font-size: 27px;
  font-size: 2.7rem;
  font-weight: bold;
  margin: 0 0 5px;
}
h2 {
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: normal;
  margin: 0 0 15px;
}
h3 {
  font-size: 17px;
  margin: 5px 0 15px;
}
ul {
  padding-left: 15px;
}
ul .reset li {
  padding: 3px 0 0;
  line-height: 175%;
}
ul.reset {
  padding: 0;
  list-style: none;
}
ul.reset li {
  padding: 3px 0 0;
  line-height: 175%;
}
.bold {
  font-weight: bold;
}
/* -----------------------------------------
	Buttons
----------------------------------------- */
.btn-gray-dark {
  color: #ffffff;
  background-color: #888880;
}
.btn-red {
  color: #ffffff;
  background-color: #df6153;
}
/* -----------------------------------------
	Navbar STYLES
----------------------------------------- */
.navbar {
  min-height: 0;
  padding: 10px 0;
  margin: 0;
  background-color: #ffffff;
}
.navbar-nav a {
  color: #df6153;
  font-size: 15px;
  font-size: 1.5rem;
}
.navbar-brand {
  max-width: 200px;
  height: auto;
  padding: 5px 15px;
}
.navbar-footer {
  padding: 1.5em 0 3em;
}
/* -----------------------------------------
	HEADER STYLES
----------------------------------------- */
.heading {
  padding: 40px;
}
.heading-image {
  margin-left: 30px;
  float: right;
}
.heading-title {
  font-size: 29px;
  font-size: 2.9rem;
  line-height: 110%;
  text-align: right;
  padding-bottom: 10px;
  margin: 50px 0 10px;
  border-bottom: 4px solid #b33529;
}
.heading-desc {
  text-align: right;
}
/* -----------------------------------------
	CONTENT STYLES
----------------------------------------- */
.content {
  padding: 1em 0;
}
/* -----------------------------------------
	FORM STYLES
----------------------------------------- */
/* -----------------------------------------
	LIST
----------------------------------------- */
.selection {
  background-color: #b33529;
}
.selection .dropdown {
  display: inline-block;
  margin: 0 25px 0 0;
}
.selection .dropdown-parent {
  color: #fff;
  padding: 15px 0;
  display: block;
}
/* -----------------------------------------
	Profile
----------------------------------------- */
.profile-list .profile-item {
  margin-bottom: 1.5em;
  background-color: #fff;
  border-bottom: 2px dotted #eeeee8;
}
.profile-list .profile-photo img {
  max-width: 100%;
  display: block;
}
.profile-list .profile-info {
  padding: 2em 2em 2em 1em;
}
.profile-list .profile-name {
  font-size: 21px;
  font-size: 2.1rem;
}
.profile-list .profile-box {
  padding: 1em 0;
}
.profile-detail .profile-heading {
  background-color: #ffffff;
  border: 1px solid #c8c8c0;
}
.profile-detail .profile-heading .profile-panel {
  margin: 20px 0;
}
.profile-detail .profile-heading .profile-panel .profile-title {
  color: #df6153;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.profile-detail .profile-info {
  background-color: #f4f4f0;
}
.profile-detail .profile-info .profile-panel {
  padding: 0 0 15px 25px;
  margin-bottom: 15px;
  border-bottom: 2px dotted #888880;
}
.profile-detail .profile-info .profile-panel:last-child {
  border-bottom: none;
}
.profile-detail .profile-info .profile-title {
  color: #faa61a;
  font-size: 17px;
  font-size: 1.7rem;
  padding-bottom: 10px;
}
.profile-detail .section-title {
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 10px 0 5px;
  display: block;
}
.profile-detail .reference {
  font-style: italic;
  margin-bottom: 15px;
}
.profile-detail .reference em {
  opacity: 0.5;
  display: block;
}
/* -----------------------------------------
	Sidebar styles
----------------------------------------- */
.sidebar-item {
  background-color: #ffffff;
}
.sidebar-title {
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 10px;
}
.sidebar-title.title-orange {
  background-color: #faa61a;
}
.sidebar-list {
  margin: 5px 10px;
}
.sidebar-list li {
  padding: 5px 0 !important;
  border-bottom: 1px solid #EEE;
}
.sidebar-list .profile-photo {
  margin: 4px 10px 0 0;
  float: left;
}
.sidebar-list .profile-name {
  font-weight: bold;
}
.sidebar-list .profile-panel {
  margin-bottom: 7px;
  overflow: hidden;
}
.sidebar-list .profile-panel:last-child {
  margin-bottom: 0;
}
/* -----------------------------------------
	Rating
----------------------------------------- */
.rating {
  font-size: 16px;
  float: left;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before,
.rating > span.active:before {
  color: #faa61a;
  content: "\2605";
  position: absolute;
}
/* -----------------------------------------
	Footer STYLES
----------------------------------------- */
.footer {
  color: #eeeee8;
  padding: 2em 0 4em;
  background-color: #3d3d39;
}
.footer a {
  color: #fff;
}
.bg-gray-light {
  background-color: #f4f4f0;
  margin-top: -15px;
  padding-top: 15px;
  -webkit-box-shadow: inset -3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.padding-on-top {
  padding-top: 15px;
}
.padding-on-bottom {
  padding-bottom: 15px;
}
.padding-top-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-on-sides {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-all-sides {
  padding: 15px;
}
.padding-on-left {
  padding-left: 15px;
}
.padding-on-right {
  padding-right: 15px;
}
.large-padding-on-top {
  padding-top: 30px;
}
.large-padding-on-bottom {
  padding-bottom: 30px;
}
.large-padding-top-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}
.large-padding-on-sides {
  padding-left: 30px;
  padding-right: 30px;
}
.large-padding-on-left {
  padding-left: 30px;
}
.large-padding-on-right {
  padding-right: 30px;
}
.no-padding-on-top {
  padding-top: 0;
}
.no-padding-on-bottom {
  padding-bottom: 0;
}
.no-padding-on-sides {
  padding-left: 0;
  padding-right: 0;
}
.no-padding-on-left {
  padding-left: 0;
}
.no-padding-on-right {
  padding-right: 0;
}
/* MARGIN */
.margin-on-top {
  margin-top: 15px;
}
.margin-on-bottom {
  margin-bottom: 15px;
}
.margin-top-bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-on-sides {
  margin-left: 15px;
  margin-right: 15px;
}
.margin-on-left {
  margin-left: 15px;
}
.margin-on-right {
  margin-right: 15px;
}
.large-margin-on-top {
  margin-top: 30px;
}
.large-margin-on-bottom {
  margin-bottom: 30px;
}
.large-margin-top-bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}
.large-margin-on-sides {
  margin-left: 30px;
  margin-right: 30px;
}
.large-margin-on-left {
  margin-left: 30px;
}
.large-margin-on-right {
  margin-right: 30px;
}
.no-margin-on-top {
  margin-top: 0;
}
.no-margin-on-bottom {
  margin-bottom: 0;
}
.no-margin-on-sides {
  margin-left: 0;
  margin-right: 0;
}
.no-margin-on-left {
  margin-left: 0;
}
.no-margin-on-right {
  margin-right: 0;
}
.no-margin-top-bottom {
  margin-top: 0;
  margin-bottom: 0;
}
